body {
  margin: 0;
  height: 100vh;
}

*{
  font-family: "Helvetica", "Arial", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100vw;
  height: 100vh;
}

.cell {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  box-sizing: border-box;
}


.cell.open {
  display: block;
  padding: 0;
  height: 100%;
}


.material-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.material-inner div {
  background-size: cover;
  background-position: center;
}

.mat-img-1 { background-image: url('images_sleep/g2.png'); }
.mat-img-2 { background-image: url('images_sleep/g4.png'); }


.type-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.type-inner > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ccc;
  cursor: pointer;
  box-sizing: border-box;
}

.type-inner > div:first-child {
  border-left: none;
}


.type-inner.vertical {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.type-inner.vertical > div {
  border-left: none;
  border-top: 1px solid #ccc;
}

.type-inner.vertical > div:first-child {
  border-top: none;
}


.symbol-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.symbol-inner > div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}

.symbol-inner > div:first-child {
  border-left: none;
}



#part.open{
  display:block !important;
  padding:0 !important;
  position:relative;
  height:100%;
}

#part .part-inner{
  position:absolute;
  inset:0;
  display:grid;
  grid-template-columns: 1fr 1fr;
}


#part .part-inner > div{
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:20px;
  cursor:pointer;
  box-sizing:border-box;
}


#part .part-inner > div + div{
  border-left:1px solid #ccc;
}


#part .part-inner > div.img{
  color:transparent;
  background-size:cover;
  background-position:center;
}

@media screen and (max-width: 900px) {
  body { 
    height: auto;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    height: auto;
    min-height: 100vh;
  }

  .cell {
    min-height: 60vh;
    padding: 24px;

    display: flex;
    align-items: center;     
    justify-content: center;

    font-size: clamp(14px, 4vw, 18px);
    line-height: 1.3;

    white-space: normal;
    word-break: keep-all;
    text-align: center;
  }

  .cell.open {
    height: auto;
    padding: 0;              
  }


  .cell {
    min-height: 60vh;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .cell.open {
    display: flex;              
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: auto;
    padding: 0;
  }

  .cell.open .material-inner,
  .cell.open .type-inner,
  .cell.open .symbol-inner,
  #part.open .part-inner {
    width: 100%;
    flex: 1;
  }
}

}
